.update {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 50px;
  border-radius: 40px;

  gap: 10px;
  width: 700px;
  height: 400px;
  background: white;
  box-shadow: 0 0 30px 1px grey;

  h1 {
    font-size: 40px;
  }

  input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;

    font-size: 20px;
    font-weight: 500;
    color: black;

    outline: none;
    background: none;
    border: 1px solid black;
  }

  button {
    width: 100%;
    padding: 10px 20px;
    background: black;

    font-size: 18px;
    font-weight: 600;
    color: white;

    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
}
